@import url("./titlebar.css");
@import url("./navbar.css");
@import url("./list.css");
@import url("./list-tools.css");
@import url("./contextmenu.css");
@import url("./rename.css");

html,
body {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  background-color: #14243d;
  background: radial-gradient(ellipse at center, #14243d 0%, #030611 100%);
  border: 1px solid white;
  border-radius: 0.25rem;
}
* {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  padding: 0;
  margin: 0;
}
#app {
  position: relative;
  width: 100%;
  height: 100%;
  min-height: 100%;
  user-select: none;
}

#popup {
  display: none;
  position: absolute;
  min-width: 60px;
  width: max-content;
  max-width: 250px;
  min-width: 95%;
  z-index: 1000;
  color: white;
  background-color: rgba(27, 14, 209, 0.904);
  border-radius: 10px;
  font-size: 14px;
  pointer-events: none;
  word-wrap: break-word;
  pointer-events: none;
}

#popup:after {
  content: " ";
  position: absolute;
  height: 12px;
  width: 12px;
  top: -6px;
  right: calc(100% / 2 - 6px);
  transform: rotate(45deg);
  background-color: rgba(27, 14, 209, 0.904);
}

#popup.popup-top:after {
  top: auto;
  bottom: -6px;
}

input[type="checkbox"] {
  display: none;
}
button {
  display: inline-block;
  padding: 8px 10px;
  height: 30px;
  width: max-content;
  min-width: max-content;
  color: #fff;
  font-weight: 400;
  font-size: 1rem;
  line-height: 1;
  background-color: #6c757d;
  border-color: #6c757d;
  border: 1px solid transparent;
  border-radius: 0.25rem;
  user-select: none;
  cursor: pointer;
}

button.active {
  border-color: "#007bff";
  background-color: #007bff;
}

button:active:not(:disabled) {
  transform: scale(1.05);
  outline: none;
}
button:focus {
  outline: none;
}
button:hover {
  color: #fff;
  background-color: #6c757d;
  border-color: #545b62;
}
button.active:hover {
  background-color: #007bff;
}
button:disabled {
  border: 1px solid #999999;
  background-color: #cccccc;
  color: #666666;
}

#modal-container {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.3);
  z-index: 99;
  padding-top: 43px;
}

#modal {
  position: absolute;
  top: initial;
  left: initial;
  display: block;
  border-radius: 0.25rem;
  border: 1px solid;
  text-align: center;
  background-color: #343a40;
  color: white;
  width: 300px;
  height: initial;
  -webkit-animation: fadeIn 0.35s;
  animation: fadeIn 0.35s;
}

.header {
  font-size: 1.4rem;
  padding: 5px;
  border-bottom: 1px solid white;
}
.body {
  padding: 5px;
}

.footer {
  padding: 5px;
  border-top: 1px solid white;
}

.selected {
  background-color: rgba(0, 0, 0, 0.2);
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
