#list {
  height: calc(100% - 75px);
}

#files-list {
  width: 100%;
  overflow: auto;
  overflow-x: hidden;
  padding-left: 2px;
  height: calc(100% - 31px);
  padding-bottom: 50px;
}

#list-control {
  display: flex;
  position: relative;
  height: 32px;
  border-top: 1px solid white;
  text-align: right;
  align-items: center;
  justify-content: flex-end;
  padding: 0 2px;
}

#list #list-control .add-icon {
  color: white;
  font-size: 26px;
  padding: 0 5px;
  cursor: pointer;
}

li i:active {
  transform: scale(1.2);
}

#files-list ul {
  margin: 0;
  padding: 0;
  background-color: white;
  color: black;
}

.empty {
  text-align: center;
}

#files-list ul li {
  list-style: none;
  padding: 4px 5px;
  font-size: 15px;
  font-weight: 700;
  cursor: pointer;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  outline: none;
  transition: 0.3s all;
}

#files-list ul li:hover {
  background-color: rgba(0, 0, 0, 0.2);
}
#files-list ul .fa-trash-alt:hover {
  color: red;
}
#files-list ul li:not(last-child) {
  border-bottom: 1px solid black;
}

#files-list ul li i {
  font-size: 18px;
}

#files-list ul li .fa-folder {
  color: darkorange;
}

#files-list ul li .fa-file-archive {
  color: darkblue;
}

#files-list ul li i:nth-child(2) {
  margin: 0 5px;
}

#list-control span {
  color: white;
  font-size: 22px;
  margin: 0 5px;
  cursor: pointer;
}

#list-control span:last-child {
  margin-left: 0;
}

#list-control .clear-icon {
  display: none;
  color: black;
  font-size: 20px;
}

#list-control input:valid + .clear-icon {
  display: inline-block;
}

#fav-input {
  flex-grow: 1;
}

.add-fav {
  position: relative;
}

.add-fav ul {
  visibility: hidden;
  position: absolute;
  top: 0;
  left: 100%;
  background-color: #1c6f2e;
  color: white;
  width: max-content;
}
.add-fav ul:active,
.add-fav ul:hover,
.add-fav:hover ul {
  visibility: visible;
}
